body {
    background-color: #ebdbae;
    min-width: 600px;


}



.bg-1 {
    background-color: #e24e42;
}

.bg-2 {
    background-color: #e98000;
}

.bg-3 {
    background-color: #eb6e80;
}

.bg-4 {
    background-color: #008f95;
}

.bg-5 {
    background-color: #075812bb;
}

.bg-6 {
    background-color: #ebdbae;
}

.layoutHeight {
    min-height: 800px;
    margin-top: 100px;
}

.layoutPlatta {
    height: 200px;
    width: 415px;
}

h5 {
    text-align: center;
    font-weight: light;
    padding-top: 10px;
    padding-bottom: 0;
}

.layoutPlatta2 {
    height: 230px;
    width: 415px;
}

.lettersSpace {
    letter-spacing: 1px;
}

@media screen and (min-width: 576px) {
    .layoutPlatta2 {
        height: 230px;
        width: 157px;
    }

    .layoutPlatta {
        height: 200px;
        width: 157px;
    }
}

@media screen and (min-width: 768px) {
    .layoutPlatta2 {
        height: 230px;
        width: 218px;
    }

    .layoutPlatta {
        height: 200px;
        width: 218px;
    }
}

@media screen and (min-width: 992px) {
    .layoutPlatta2 {
        height: 230px;
        width: 297px;
    }

    .layoutPlatta {
        height: 200px;
        width: 297px;
    }
}

@media screen and (min-width: 1200px) {
    .layoutPlatta2 {
        height: 230px;
        width: 355px;
    }

    .layoutPlatta {
        height: 200px;
        width: 355px;
    }
}

@media screen and (min-width: 1400px) {
    .layoutPlatta2 {
        height: 230px;
        width: 415px;
    }

    .layoutPlatta {
        height: 200px;
        width: 415px;
    }

}